
$color-primary: hsl(235, 18%, 26%);
$colr-btn: #363732;
$section-background-color: hsl(235, 18%, 26%);
$success-background-color: hsl(235, 18%, 26%);
$button-submit-color: hsl(234, 29%, 20%);
$font-family:'Roboto', sans-serif;