@import "default";
@import "mixins";
@import "variable";
@import "utilites";

body {
    background-color: $color-primary;
    font-family: $font-family;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .section-flex-content {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
        width: auto;
        max-width: 50rem;
        margin: 0 auto;
    
        @include bp(md) {
           flex-direction: row;
           gap: 4rem;
        }

        .flex-content {
            display: flex;
            justify-content: space-around;
            flex-direction: column-reverse;
            gap: 3rem;
            background-color: white;
            padding: 0;
            border-radius: 2rem;
            align-items: center;

            @include bp(md) {
                flex-direction: row;
                padding: 23px;
            }
            
            .flex-content-items {
                
                padding: 23px;
                
                h1 {
                    font-size: 3.6rem;
                    margin-bottom: 1rem;

                    @include bp(md) {
                        margin-bottom: 1rem;
                    }
                }

                p {
                    margin-bottom: 1rem;
                    line-height: 1.5;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin-bottom: 1rem;

                    li {
                        font-size: 18px;
                        list-style: none;
                        padding-bottom: 12px;

                        &::before{
                            content:url('/assets/images/icon-list.svg');
                            position: relative;
                            display: inline-block;
                            margin-right: 0.5rem;
                        }
                    }

                    p {
                        font-size: 23px;
                        line-height: 2;
                    }
                }

                .item-input {
                    display: flex;
                    flex-direction: column;
                    font-size: 1rem;
                    gap: 0.5rem;

                    form {

                        & > div {
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 1em;

                            & > div {
                              color: red;
                              display: none;
                            }
                        }

                        input {
                            border-radius: 4px;
                            border: 1px solid black;
                            padding: 12px 20px;
                            min-width: 300px;
                            width: 100%;
                            margin-bottom: 1rem;
                            height: 50px;
                        }
    
                        button {
                            @extend %btn_cta;
                            color: white;
                            min-width: 300px;
                            width: 100%;
                        }
                    }
                }
            }

            .image-content {
                width: 100%;

                img {
                    width: 100%;
                    padding: 0!important;

                }

            }

        }
        
    }

    .succes-msg {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem 2rem;
        background-color: white;
        min-height: 100%;
        width: 100%;

        @include bp(md) {
            max-width: 500px;
            min-height: auto;
            border-radius: 2rem;
            width: auto;
        }

        .succes-msg-content {
            margin-top: 6rem ;

            @include bp(md) {
                margin-top: 0.5rem ;
            }
    
            h2 {
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 3.5rem;

                @include bp(sm){
                    font-size: 3.6rem;
                }
            }

            img {
               width: 50px;
            }

            p{ 
                line-height: 1.5;
                span {
                    color: black;
                    font-weight: bold;
                }
            }

        }

        button {
            @extend %btn_cta;
            align-self: stretch;
            margin-top: 2rem;
            width: 100%;
            max-width: 500px;
        }
    }
}

%btn_cta  {
    padding: 1rem;
    text-align: center;
    font-size: 25px;
    white-space: nowrap;
    background-color: $button-submit-color;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;

    &:hover {
        background: rgb(255,83,121);
        background: linear-gradient(90deg, rgba(255,83,121,1), rgba(255,103,62,1));
        box-shadow: 0 0.8rem 2rem -10px hsl(4,100%, 67%);
    }
}


